.admin__menu #nav #menu-oy-gymbooking-gymbooking > a:before {
    content: '\e627';
}

.admin__menu #nav #menu-oy-registry-registry > a:before {
    content: '\e631';
}

.admin__menu #nav #menu-oy-routine-routine-menu > a:before {
    content: '\e61f';
}