.checkout-cart-index {
  .header-container {
    .header-top {
      .container {
        .row.row-topheader {
          display: flex !important;
        }
      }
    }

    .header-middle {
      .middle-content {
        .row:first-of-type {
          display: flex !important;
        }
      }
    }

    .header-bottom {
      .container {
        .row:first-of-type {
          display: flex !important;
        }
      }
    }
  }
}


.header-container {
  .header-middle {
    .middle-content {
      .row:first-of-type {
        display: flex !important;

        .logo-content {
          a.logo {
            img {
              width: 100%;
            }
          }
        }

        #minicart-content-wrapper {
          .block-content {
            .actions {
              .secondary {
                a {
                  margin-bottom: 5px;
                }
              }
            }
          }
        }
      }

      .phone-header {
        background-position-y: 3px !important;

        .block-cms-link {
          margin-bottom: 6px !important;

          a span {
            color: white !important;
            font-weight: bold;
          }

          a:hover span {
            color: #ff5500 !important;
            font-weight: bold;
          }
        }
      }
    }
  }

  .header-bottom {
    display: none !important;

    .megamenu-content-sidebar {
      .btn-megamenu {
        a::after {
          display: none !important;
        }
      }
    }
  }
}