<div class="payment-method" data-bind="css: {'_active': (getCode() == isChecked())}">

    <div class="payment-method-content">
        <!-- ko foreach: getRegion('messages') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->

        <div class="payment-method-billing-address">
            <!-- ko foreach: $parent.getRegion(getBillingAddressFormName()) -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>

        <div class="payment-method-title field choice">
            <input type="radio" name="payment[method]" class="radio"
                   data-bind="attr: {'id': getCode()}, value: getCode(), checked: isChecked, click: selectPaymentMethod, visible: isRadioButtonVisible()"/>
        </div>

        <div class="panel-checkout">
            <div class="row">

                <div class="col-md-12 pt-20">
                    <div class="redirect-frame">
                        <img data-bind="attr: {alt: 'MercadoPago Redirect', src: getRedirectImage()}"
                             class="img-fluid"/>
                        <p><!-- ko i18n: 'Te llevamos a MercadoPago para completar el pago'--><!-- /ko --></p>
                    </div>
                </div>

            </div>
        </div>

        <div class="actions-toolbar">
            <div class="primary">
                <button data-role="review-save" type="submit"
                        data-bind="click: placePendingPaymentOrder, attr: {title: $t('Continue')},css: {disabled: !isPlaceOrderActionAllowed()}"
                        class="button action primary checkout">
                    <span data-bind="i18n: 'Continue'"></span>
                </button>
            </div>
        </div>
    </div>
</div>
