<?xml version="1.0"?>
<!--
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_BookingSystem
 * @author    Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Webkul_BookingSystem::bookingsystem" title="Booking System" sortOrder="10">
                    <resource id="Webkul_BookingSystem::menu" title="Menu" sortOrder="10">
                        <resource id="Webkul_BookingSystem::bookings" title="View Bookings" sortOrder="1" />
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
