<?xml version="1.0"?>
<!--
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_BookingSystem
 * @author    Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Catalog\Model\Product">
        <plugin name="Webkul_BookingSystem::afterGetIsVirtual" type="Webkul\BookingSystem\Plugin\Model\Catalog\Product" sortOrder="1" />
    </type>
    <type name="Magento\CatalogInventory\Model\Stock\Item">
        <plugin name="Webkul_BookingSystem::afterGetQty" type="Webkul\BookingSystem\Plugin\Model\CatalogInventory\Stock\Item" sortOrder="1" />
    </type>
    <type name="Magento\Checkout\Controller\Cart\Configure">
        <plugin name="Webkul_BookingSystem::afterConfigure" type="Webkul\BookingSystem\Plugin\Controller\Checkout\Cart\Configure" sortOrder="1" />
    </type>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="bookingsystem_bookings_list_data_source" xsi:type="string">Webkul\BookingSystem\Model\ResourceModel\Booked\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <type name="Webkul\BookingSystem\Model\ResourceModel\Booked\Grid\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">wk_bs_booking_booked</argument>
            <argument name="eventPrefix" xsi:type="string">bookingsystem_bookings_grid_collection</argument>
            <argument name="eventObject" xsi:type="string">bookings_grid_collection</argument>
            <argument name="resourceModel" xsi:type="string">Webkul\BookingSystem\Model\ResourceModel\Booked</argument>
        </arguments>
    </type>
    <virtualType name="BookingsystemGirdFilterPool" type="Magento\Framework\View\Element\UiComponent\DataProvider\FilterPool">
        <arguments>
            <argument name="appliers" xsi:type="array">
                <item name="regular" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\RegularFilter</item>
                <item name="fulltext" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\FulltextFilter</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="BookingsGirdFilterPool" type="Magento\Framework\View\Element\UiComponent\DataProvider\DataProvider">
        <arguments>
            <argument name="collection" xsi:type="object" shared="false">Webkul\BookingSystem\Model\ResourceModel\Booked\Collection</argument>
            <argument name="filterPool" xsi:type="object" shared="false">BookingsystemGirdFilterPool</argument>
        </arguments>
    </virtualType>
    <type name="Webkul\BookingSystem\Logger\Handler">
        <arguments>
            <argument name="filesystem" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
        </arguments>
    </type>
    <type name="Webkul\BookingSystem\Logger\Logger">
        <arguments>
            <argument name="name" xsi:type="string">bookingSystem</argument>
            <argument name="handlers" xsi:type="array">
                <item name="system" xsi:type="object">Webkul\BookingSystem\Logger\Handler</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Catalog\Helper\Product\Configuration">
        <plugin name="Webkul_BookingSystem::configuration" type="Webkul\BookingSystem\Plugin\Catalog\Helper\Product\Configuration" sortOrder="1" />
    </type>
    <!--<type name="Magento\InventorySalesApi\Api\IsProductSalableForRequestedQtyInterface">
        <plugin name="Webkul_BookingSystem::beforeExecute" type="Webkul\BookingSystem\Plugin\Model\CheckIsProductSalableForRequestedQty" sortOrder="1" />
    </type>-->
    <type name="Magento\Sales\Block\Order\Item\Renderer\DefaultRenderer">
        <plugin name="Webkul_BookingSystem::defaultRenderer" type="Webkul\BookingSystem\Plugin\Block\Order\Item\Renderer\DefaultRenderer" sortOrder="1" />
    </type>
    <type name="Magento\Sales\Block\Adminhtml\Items\Column\DefaultColumn">
        <plugin name="Webkul_BookingSystem::defaultColumn" type="Webkul\BookingSystem\Plugin\Block\Adminhtml\Items\Column\DefaultColumn" sortOrder="1" />
    </type>
</config>
