<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <preference for="OY\Routine\Api\Data\ExerciseInterface" type="OY\Routine\Model\Exercise" />

    <virtualType name="OY\Routine\Model\ResourceModel\Exercise\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">exercise_entity</argument>
            <argument name="resourceModel" xsi:type="string">OY\Routine\Model\ResourceModel\Exercise</argument>
        </arguments>
    </virtualType>
    <type name="OY\Routine\Model\ResourceModel\Exercise\Grid\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">exercise_entity</argument>
            <argument name="eventPrefix" xsi:type="string">exercise_entity</argument>
            <argument name="eventObject" xsi:type="string">exercise_entity</argument>
            <argument name="resourceModel" xsi:type="string">OY\Routine\Model\ResourceModel\Exercise</argument>
        </arguments>
    </type>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="oy_routine_exercise_listing_data_source" xsi:type="string">OY\Routine\Model\ResourceModel\Exercise\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
</config>