.checkout-cart-index {
  #maincontent {
    .columns.col1-layout {
      display: flex !important;
    }

    .cart-container {
      .cart-summary {
        #block-shipping, #block-discount {
          display: none !important;
        }
      }
    }
  }
}

.banner1-id9.static-image {
  ul > li > a > img {
    display: none !important;
  }
}

.top-services {
  .row {
    .item {
      height: 58px;

      .item-inner {
        height: 100%;
      }
    }
  }
}