<?xml version="1.0"?>
<!--
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_BookingSystem
 * @author    Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Webkul_BookingSystem::bookingsystem" title="Bookings System" translate="title" module="Webkul_BookingSystem" sortOrder="10" resource="Webkul_BookingSystem::bookingsystem"/>
        <add id="Webkul_BookingSystem::bookings" title="View Bookings" translate="title" module="Webkul_BookingSystem" sortOrder="1" parent="Webkul_BookingSystem::bookingsystem" action="bookingsystem/bookings" resource="Webkul_BookingSystem::bookings"/>
    </menu>
</config>
