<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="OY\Plan\Api\PlanRepositoryInterface" type="OY\Plan\Model\Repository\PlanRepository"/>
    <preference for="OY\Plan\Api\Data\PlanInterface" type="OY\Plan\Model\Plan"/>
</config>

